        /* ion-col{
            border: 1px solid red;
        } */
        #img {
            width: 100vh;
            height: 100vh;
            background-image: url('https://t4.ftcdn.net/jpg/06/92/40/25/360_F_692402580_DBBCnHukomwJTalaxHAvKiSp5nLd7Jtu.jpg');
            background-size: cover;
            background-position: center;
            
        }

        ion-button {
            margin-top: 20px;
        }