<ion-content [fullscreen]="true">

    <ion-grid>
        <ion-row>

            <ion-col size-md="6" id="img" class="ion-hide-md-down">

            </ion-col>
            <ion-col size="12" size-md="6">

                <ion-row class="ion-justify-content-center">
                    <ion-col size="12" size-md="8">
                        <h1>Criar Conta</h1>

                        <ion-item>
                            <ion-icon name="person-outline" slot="start"></ion-icon>
                            <ion-input label="Nome" type="text" labelPlacement="stacked" placeholder="Guilherme Soares"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="mail-outline" slot="start"></ion-icon>
                            <ion-input label="E-mail" type="email" labelPlacement="stacked" placeholder="gui123@hotmail.com"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                            <ion-input label="Senha" [type]="senha ? 'text' : 'password'" labelPlacement="stacked" placeholder="Mínimo 8 caracteres"></ion-input>
                            <ion-icon class="cursor" slot="end" [name]="senha ? 'eye-off-outline' : 'eye-outline'"(click)="revelarSenha()"></ion-icon>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                            <ion-input label="Confirmar senha" [type]="senha ? 'text' : 'password'" labelPlacement="stacked" placeholder="Confirme a sua senha"></ion-input>
                        </ion-item>
                        <ion-button expand="block" color="primary">
                            Criar Conta
                            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
                        </ion-button>

                        <p>Login com</p>

                        <ion-button expand="block" color="success">
                            <ion-icon name="logo-facebook" slot="start"></ion-icon>
                            Facebook
                        </ion-button>

                        <ion-button expand="block" color="secondary">
                            <ion-icon name="logo-twitter" slot="start"></ion-icon>
                            Twitter
                        </ion-button>

                        <ion-button expand="block" color="tertiary">
                            <ion-icon name="logo-google" slot="start"></ion-icon>
                            Google
                        </ion-button>

                        <p>Já tem uma conta? <a href="#">Faça login</a></p>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>